html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

body{
	margin: 0px;
}

.title{
	padding: 60px;
	background-color: #FFE054;
	width: 750px;  
	height: 175px;
	padding-top: 0px;
  font-family: "Dancing Script", cursive;
  color:#828282
}


.navBar {
	text-align: left;
  border: none;
}
button {
  border: none;
}

.home {
	background-color: #FFE054;
}

.res {
	background-color: #FFE054;
}

 .twoButtons {
	padding-top: 30px;
	
} 

.tipsButton{
	background-color: #F1EEDD;
	color:black;
}

.gwButton {
	background-color: #F1EEDD;
}



