html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD; 
}

body{
	margin: 0; 
	}

.title{
	padding: 60px;
	padding-top: 0px;
	background-color: #FFE054;  
	height: 175px;
  font-family: "Dancing Script", cursive;
   color:#4d4d4d;  
}


.navBar {
	text-align: left;
  border: none;
}
button {
  border: none;
}

.home {
	background-color: #FFE054;
}

.res {
	background-color: #FFE054;
}

 .twoButtons {
	padding-top: 30px;
	 display: flex;
   justify-content: space-between; 
} 

.tipsButton{
	padding-bottom: 220 px;
	padding-right: 220px;
	padding-left: 220px;
	background-color: #F1EEDD;
}

.gwButton {
	padding-bottom: 220 px;
	padding-right: 220px;
	padding-left: 220px;
	background-color: #F1EEDD;
}

.buttonDesc {
	display: flex;
   justify-content: space-between; 
}

.textOne {
	padding-bottom: 220 px;
	padding-right: 220px;
	padding-left: 220px;
	text-align: center;
	color:#4d4d4d; 
}

.textTwo {
	padding-bottom: 220 px;
	padding-right: 220px;
	padding-left: 220p;
	text-align: center;
	color:#4d4d4d; 
}



