html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

body{
	margin: 0; 
	}

.title {
	padding: 60px;
	padding-top: 0px;
	background-color: #FFE054;
	height: 175px;
  font-family: "Dancing Script", cursive;
  color:#4d4d4d;  
  
}

.navBar { /*buttons on banner */
	text-align: left;
}
button {
  background: #FFE054;
  border: none;
}