html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

.title {
	background-color: #91FCE8;
	width: 750px;  
	height: 175px;
	padding-top: 0px;
}

.navBar { /*buttons on banner */
	text-align: left;
}
button {
  background: #91FCE8;
  border: none;
}