html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

.title{
	background-color: #FFA144;
	width: 750px;  
	height: 175px;
	padding-top: 0px;
  font-family: "Dancing Script", cursive;
  color:#828282
	
}

.navBar { 
	text-align: left;
 
  background: #FFA144;
  border: none;
}
button {
  background: #FFA144;
  color:#828282;
  border: none;
}
