html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

body{
	margin: 0; 
	}

.title{
	padding: 60px;
	padding-top: 0px;
	background-color: #FFA144; 
	height: 175px;
  font-family: "Dancing Script", cursive;
    color:#4d4d4d;  
	
}

.navBar { 
	text-align: left;
  background: #FFA144;
  border: none;
}
button {
  background: #FFA144;
    color:#4d4d4d;  
  border: none;
}

* {
  box-sizing: border-box;
}

.in {
  float: left;
  width: 50%;
  padding: 30px;
}

.out {
  float: left;
  width: 50%;
  padding: 30px;
}

.row{
  content: "";
  display: table;
  clear: both;
}