html {
  height: 100%;
  width: 100%;
	background-color: #F1EEDD;
}

body{
	margin: 0; 
	}

.title {
	padding: 60px;
	padding-top: 0px;
	background-color: #94D4FF; 
	height: 175px;
  font-family: "Dancing Script", cursive;
    color:#4d4d4d;  
}
.GW { /* GW is all text above image */
    color:#4d4d4d;  
}
.OA{ /* OA is all text after image */
  color:#4d4d4d;  
}
.navBar { /*buttons on banner */
	text-align: left;
}
button {
  background: #94D4FF;
  color:#4d4d4d;  
  border: none;
}
